@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
<p>This is a safe space, where you can enjoy art without the pressure of understanding any of it. Clients can load their products and create their own shop. No one 
    expects you to understand the juxtaposition, or what abstract expressionism is. Just come on over, look at the pretty things, and maybe you'll find something
    to your liking.</p>
    </div>
