
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Paint Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    </head>
<body id="homeBody">
    <div class="wrapper">
        <div class="pulse">
        <div class="container">
            <span></span>
            <span></span>
            <span></span>
        <h1 class="cover-heading">Artsy Fartsy</h1>
        <p class="lead">No frills here. 
            <br />
            Sell art. 
            <br />
            Buy art. 
            <br />No judgment.</p>
    </div>
   </div>
        </div>

   
</body>
</html>